body{
    justify-items: center;
    background-color: #000;
}
.container{
    width: 420px;
    height: 600px;
    background-color:#000;
    border:3px solid #00ffd5;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius:30px;
    
}

/* .item{
    width: 100px;
    background-color: rgb(36, 86, 129); 
     border: 2px solid red;   
} */

.item button{
    width: 100%;
    height: 100%;
    /* font-size: 20px; */
    border-radius: 46%;
    /* border: 2px solid blueviolet; */
    cursor: pointer;
    /* background-color: white; */
    /* padding: 10px; */

    background: #7a3cff;
    color: #fff;
    border: none;
    margin-top: 10px;
}

.item button:active{
   box-shadow:
        0 0 10px rgba(122, 60, 255, 0.9),
        0 0 25px rgba(122, 60, 255, 0.6);
}

#clear{
    grid-column-start: 1;
    grid-column-end: 4;
}

#first{
    grid-column: span 5;
    margin-top: 40px;
}

#first input{
    border: 2px solid black;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    /* margin-top: 10px; */
}

#num button{
    /* border-radius: 50%;
    border: 2px solid red; */
    /* justify-content: space-evenly; */
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* padding: 0; */
    /* line-height: 70px; */
    text-align: center;
    /* border: 2px solid red; */
    /* background: white; */
    font-size: 18px;
    cursor: pointer;
    background: #f9f9f9;
    color: #000;
    border: none;

    
}

#num button:active{
    box-shadow:
        10 10 10px rgba(0, 180, 255, 0.6),
        18 18 18px rgba(0, 180, 255, 0.4);
}

#symbol button{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* padding: 0; */
    /* line-height: 70px; */
    text-align: center;
    /* border: 2px solid red; */
    background: white;
    font-size: 19px;
    cursor: pointer;

    background: #ff9500;
    color: #fff;
    border: none;

    
}

#symbol button:active{
    box-shadow:
        0 0 8px rgba(255, 149, 0, 0.8),
        0 0 20px rgba(255, 149, 0, 0.5);
}

#equal button{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* padding: 0; */
    /* line-height: 70px; */
    text-align: center;
    /* border: 2px solid red; */
    font-size: 18px;
    cursor: pointer;
    background: #34c759;
    color: #fff;
    border: none;
}

#equal button:active{
    box-shadow:
        0 0 10px rgba(52, 199, 89, 0.9),
        0 0 25px rgba(52, 199, 89, 0.6);
}
