.box{
    width:300px;
    /* height:200px; */
    border:2px solid blue;
    border-radius:10px;
    padding: 10px;
}

.box button{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.box input{
    width:100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
}

.logo{
    width: 200px;
    border: 2px solid rgb(163, 25, 69);
    padding: 10px;
}

.logo img{
    width: 100%;
}

.container{
    display: flex;
    flex-wrap: wrap;
}